[(#REM) Si env contient un maxFiles il surpasse la configuration ]
[(#SET{maxFiles,[(#ENV{maxFiles,#CONFIG{dropzone/max_files,null}})]})]

<script type="text/javascript">
(function($){

var options = {
	paramName: ["(#ENV{paramName})"],
	maxFilesize: #CONFIG{dropzone/max_file_size},
	maxFiles: [(#GET{maxFiles}|=={0}|?{null,#GET{maxFiles}})],
	[acceptedFiles: "(#ENV{acceptedFiles})",]

	init: function() {
		this.on('success', function(file, response) {
			if ($.type(response) === 'string') {
				var error = $("<div>" + response + "</div>").find('.formulaire_#FORM .editer_#ENV{paramName}.erreur .erreur_message').text();
				if (error) {
					return this.emit("error", file, error);
				}
			} 
			[ajaxReload("(#ENV{ajaxReload})");]
		});

		[this.on('complete', function (file, response) {
			window.location = "(#ENV{redirect})";
		});]
	},

	// Traduire dropzone
	dictDefaultMessage:  "<:dropzone:drop_ici|texte_script:>",
	dictFallbackMessage: "<:dropzone:drop_no_support|texte_script:>",
	dictFallbackText:    "<:dropzone:drop_fallbacktext|texte_script:>",
	dictInvalidFileType: "<:dropzone:drop_fichier_invalide|texte_script:>",
	dictFileTooBig:      "<:dropzone:drop_fichier_trop_gros|texte_script:>",
	dictCancelUpload:    "<:dropzone:drop_annuler|texte_script:>",
	dictCancelUploadConfirmation: "<:dropzone:drop_annuler_confirm|texte_script:>",
	dictMaxFilesExceeded: "<:dropzone:drop_max_file|texte_script:>",
	dictRemoveFile:       "<:dropzone:drop_enlever_fichier|texte_script:>",
};

if ("#ENV{paramName}" == 'file_logo') {
	options.dictDefaultMessage = "<:dropzone:logo_drop_ici|texte_script:>";
	options.addRemoveLinks = true;
}

// Désactiver la découverte automatique de dropzone
Dropzone.autoDiscover = false;

$("\##ENV{id}").dropzone(options);

})(jQuery);
</script>
