<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:dropzone:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<div class='editer-groupe'>
			[(#SAISIE{case, charger_public,
				label=<:dropzone:cfg_charger_public:>,
				label_case=<:dropzone:cfg_charger_public_case:>})]

			[(#SAISIE{case, remplacer_editer_logo,
				label=<:dropzone:cfg_remplacer_editer_logo:>,
				label_case=<:dropzone:cfg_remplacer_editer_logo_case:>})]

			[(#SAISIE{input, max_file_size,
				label=<:dropzone:cfg_max_file_size:>,
				explication=<:dropzone:cfg_max_file_size_explication:>})]

			[(#SAISIE{input, max_files,
				label=<:dropzone:cfg_max_files:>,
				explication=<:dropzone:cfg_max_files_explication:>})]
		</div>

		<input type="hidden" name="_meta_casier" value="dropzone" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>
