<div class="formulaire_spip formulaire_#FORM">
[(#ENV*{_header})]

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

[(#EDITABLE|oui)
	<form action="#ENV{action}" method="post" class="dropzone" id="#ENV{id}"><div>
		#ACTION_FORMULAIRE
		<div class='editer-groupe fallback'>
			#SET{name,#ENV{paramName}}#SET{erreurs,#ENV**{erreurs/#GET{name}}}
			<div class='editer editer_#GET{name}[ (#GET{erreurs}|oui)erreur]'>
				[<span class='erreur_message'>(#GET{erreurs})</span>]
				<input name="#GET{name}" type="file" multiple />
			</div>
		</div>
	</div></form>

	#INCLURE{fond=javascript/spip.dropzone.js, env}
]
[(#ENV*{_footer})]
</div>
