.dropzone { background: transparent; border: none; }
.dropzone.dz-drag-hover { border: none; border-style: none; }
.dropzone .dz-preview .dz-remove {
    bottom: 0;
    padding: 6px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 21;
    background-color:rgba(255,255,255,.8);
    border-radius:0 0 20px 20px;
}
.dropzone .dz-preview .dz-remove:hover { background-color:rgba(255,255,255,.9); }
.dropzone .dz-preview.dz-image-preview {
    border-radius: 20px;
}
